---
title: Home
layout: default
---
<section>
  <hgroup>
    <h1>Comparing my 2021 Spotify Wrapped to my Raw Streaming Data</h1>
    <h2>How I ran basic analytics on my own Spotify streaming data and compared it to my 2021 "wrapped" </h2>
  </hgroup>
  <p>While scrolling through my Spotify wrapped for 2021, some things struck me as being a little off. I wanted to get my hands on the raw data to check things for myself. Unfortnately, the Spotify API (at the time of writing this) does not have the ability to pull a user's entire streaming history. You can, however, request an export of your data <a href="https://www.spotify.com/us/account/privacy/" target="_blank">here</a>. So that's what I did!</p>
  <p>After a few days, I received an email with a link to download the exported data. It contained a number of JSON data files, including every stream from the past year. That data looks like this:</p>
  <%= markdownify do %>
  ```json
  [
    {
      "endTime" : "2020-12-14 19:55",
      "artistName" : "Alex Chilton",
      "trackName" : "Oogum Boogum",
      "msPlayed" : 206840
    },  
    {
      "endTime" : "2020-12-14 20:04",
      "artistName" : "The Pastels",
      "trackName" : "Nothing To Be Done",
      "msPlayed" : 232133
    }
  ]
  ```
  <% end %>
  <p>Let's see how the raw data compares to Spotify "Wrapped".</p>
  
</section>
<section>
  <h3>Top 10 Artists by Stream Count</h3>
  <p>Below is a table showing my calculations and a screenshot from my "wrapped".</p>
  <div class="grid">
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Artist Name</th>
          <th scope="col"># of Streams</th>
        </tr>
      </thead>
      <tbody>
        <% site.data.top_ten_artists_by_stream_count.each do |data| %>
          <tr>
            <th scope="row"><%= data[0] %></th>
            <td><%= data[1] %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <figure>
      <figcaption>Wrapped Screenshot</figcaption>
      <img src="images/spotify/top_artists.png" alt="Spotify Wrapped Top Artists">
    </figure>
  </div>
  <p>
    If you compare the table data to the screenshot, you can see that <strong>Shannon & The Clams</strong> and <strong>Daft Punk</strong> are missing from the official "wrapped". What could be the reason for this? Maybe Top Artists for "wrapped" are calculated by listen time rather than # of streams.
  </p>
</section>

<section>
  <h3>Top 10 Artists by Play Time</h3>
  <div class="grid">
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Artist Name</th>
          <th scope="col">Minutes Streamed</th>
        </tr>
      </thead>
      <tbody>
        <% site.data.top_ten_artists_by_ms_streamed.each do |data| %>
          <tr>
            <th scope="row"><%= data[0] %></th>
            <td><%=  data[1].to_i / 60000 %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <p>
    Ignoring the podcast in the first row of the table, crunching my raw streaming data is still yielding different results from "wrapped".
    If "time spent streaming" an artist is how the wrapped rankings work, then <strong>Khruangbin</strong> would be in my top 5 artists - but they are not.
   </p>
</section>

<section>
  <h3>Top 10 Songs by Stream Count</h3>
  <p>Here's the data breakdown for top songs with the corresponding screenshot from my Spotify Wrapped</p>
  <div class="grid">
    <table role="grid">
      <thead>
        <tr>
          <th scope="col">Track Name</th>
          <th scope="col">Artist Name</th>
          <th scope="col">Stream Count</th>
        </tr>
      </thead>
      <tbody>
        <% site.data.top_ten_songs_by_stream_count.each do |song| %>
          <tr>
            <th scope="row"><%= song.trackName %></th>
            <td><%= song.artistName %></td>
            <td><%= song.playCount %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    
    <figure>
      <figcaption>Wrapped Screenshot</figcaption>
      <img src="images/spotify/top_songs.png" alt="Spotify Wrapped Top Songs">
    </figure>
  </div>
  <p>
    Here we can see that "The Boy" by <strong>Shannon & The Clams</strong> is missing from the screenshot but according to the raw data, I streamed it 17 times. Also - there appears to be a tie between the top 3 songs (at 19 streams) which does match up well to the official "wrapped"
  </p>
  <p>
    There also appears to be a tie (at 15 streams) for Chnam oun Dop-Pram Muy (I'm 16), My Lady's On Fire and Nighttime in the Switching Yard. Apparently, Spotify chose Nighttime in the Switching Yard to win that tie.
  </p>
</section>

<section>
  <h3>Top Song</h3>
  <div class="grid">
    <img src="images/spotify/top_song.png" alt="">
    <p>The raw data shows that I listened to <em>Brother Father Mother Sister</em> by Tim Maia 19 times - while
    the wrapped screenshot shows 18 times. I must have listened to the song 1 time between Spotify creating my "wrapped" and when the raw data export happened.</p>
  </div>
</section>

<section>
  <h3>"Wrapping Up"</h3>
  <p>Overall - I think that Spotify Wrapped was fairly accurate when comparing to it to the raw data but I don't understand why certain artists and songs are just not represented in my "wrapped" rollup. 
    I clearly listened to <strong>Shannon & The Clams</strong> and <strong>Daft Punk</strong> a lot last year so what's the deal? Why does Spotify hate <strong>Shannon & The Clams</strong> and <strong>Daft Punk</strong> so much?</p>
  <p>Possible explanations:</p>
  <ul>
    <li>Spotify uses more data points than just streams & counts (very likely)</li>
    <li>Their tie breaking algorithm takes metrics I don't have into account</li>
    <li>Some artists opt out of being included in wrapped?</li>
    <li>Some artists are excluded for some internal reason at Spotify</li>
    <li>I have bad / out of sync data</li>
    <li>They don't want me to listen to <strong>Shannon & The Clams</strong> anymore :(</li>
  </ul>
  <p>
   If you're interested, you can view the source code and Spotify data on <a href="https://github.com/mdoyle13/blog/tree/main/src/_data" target="_blank">GitHub</a>
  </p>
</section>
